#login-page {
    padding: 40px 0 20px;
}

#register-page {
    padding: 20px 0 20px;
}

#login-page ul {
    margin-left: 50px;
    list-style-type: disc;
    margin-bottom: 20px;
}

#register-page ul {
    margin-left: 50px;
    list-style-type: disc;
    margin-bottom: 20px;
}

#profile {
    padding: 20px;
}

#changepassword {
    padding: 20px;
}