#article {
    padding: 20px 0;
}

#article .pull-right .image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#article .pull-left .price {
    font-size: 16px;
    font-weight: bold;
}

#article .pull-left .price .new-price {
    color: #800000;
    padding: 0 5px 0 10px;
}

#article .pull-left .price .old-price {
    color: gray;
    padding: 0 5px;
    text-decoration: line-through;
}

#article .qty-status span {
    padding-left: 5px;
}

#product-list {
    padding: 20px;
}

#article .rating {
    margin-bottom: 10px;
}

#article .vote {
    margin-top: 5px;
    padding-top: 15px;
    border-top: 1px dotted gray;
    margin-bottom: 10px;
}

#article .vote select {
    height: 22px;
    border-radius: 5px;
}

#article .vote .row {
    margin-right: -9px;
}