* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

ul {
    list-style-type: none;
}

.clr {
    clear: both;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-image: url(../images/2.gif);
}

#page {
    width: 1040px;
    margin: auto;
    background-color: #ffffff;
    /* height: 800px; */
}

#top {
    width: 100%;
    margin: auto;
    height: 36px;
    background: url(../images/top.png);
}

#top-left {
    float: left;
}

#top-left ul {
    padding: 10px 0px 0px 19px;
}

#top-left ul li {
    float: left;
    margin-right: 8px;
}

#top-right {
    float: right;
}

#top-right ul {
    padding: 10px 19px 0px 0px;

}

#top-right ul li {
    float: left;
    margin-left: 8px;
    color: #999999;
}

#top-right ul li a {
    color: #000000;
    text-decoration: underline;
}

#top-right ul li a:hover {
    color: #f1004c;
}

#header {
    width: 1000px;
    margin: auto;
    height: 200px;
    /* border: 1px solid #000000; */
    /* background: url(images/4.gif) no-repeat; */
}

#cart {
    float: right;
    margin-top: 40px;
    /*margin-left: 100px;*/
    position: relative;
}

#info-cart {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    margin: 5px 0 0 85px;
    color: #A0522D;
    text-align: center;
}

#header #phone {
    width: 170px;
    height: 31px;
    float: left;
    margin-top: 32px;
    /* border: 1px solid #000000; */
    background: url(../images/call.png) no-repeat;
    padding-left: 26px;
    line-height: 21px;
    color: #000000;
}

#search-box {
    width: 200px;
    height: 31px;
    float: left;
    margin-top: 27px;
    /* border: 1px solid #000000; */
    position: relative;
}

#menu {
    height: 42px;
    width: 100%;
    /*padding: 0 34px;*/
    /* border: 1px solid #000000 ;*/
    background: #F5DEB3;
}

#menu ul {
    padding-left: 9px;
}

#menu ul li {
    float: left;
    border-right: 1px dotted #999999;
    /* width: 136px; */
    height: 42px;
    /* text-align: center;*/

}

#menu ul li a {
    padding: 0 25px 0 25px;
    color: #A0522D;
    background: #F5DEB3;
    font-weight: bold;
    line-height: 42px;
    display: inline-block;
}

#menu img {
    float: left;
}

#menu ul li a:hover {
    color: #FFFFFF;
    background: #BB0000;
}

#content {
    width: 1000px;
    margin: 20px auto;
    height: 410px;
    /* border: 1px solid #000000; */
}

#content-left {
    width: 350px;
    height: 410px;
    float: left;
    /* border: 1px solid #000000; */
}

#top-menu {
    width: 334px;
    height: 30px;
    float: left;
    margin: 0;
    font-family: Roboto;
    font-size: 20px;
    /* border:1px solid #000000; */
}

#top-menu ul {
    padding: 1px 10px 17px 20px;
    background-color: #6bc15f;
}

#top-menu ul li {
    border-bottom: 1px solid #CCCCCC;
    margin-top: 15px;
    padding: 5px;
    margin-left: -5px;
    color: #A0522D;
    background: #F5DEB3;
}

#top-menu ul li a:hover {
    color: #CD853F;
    background: #FFFAFA;
}

#menu-left {
    width: 334px;
    min-height: 355px;
    margin: 53px 0 0 0px;
    /* border: 1px solid #000000; */
    color: #fff;
    background: #6bc15f;
    font-size: 15px;
}

#menu-left > ul {
    padding: 10px 20px 20px 20px;
}

#menu-left li {
    line-height: 30px;
}

#menu-left > ul > li {
    border-bottom: 1px solid #CCCCCC;
}

#menu-left ul li a {
    color: white;
    font-size: 16px;
}

#menu-left ul li a:hover {
    color: #A0522D;
    /*background: #FFFAFA;*/
    padding: 3px;
}

.submenu li {
    margin-left: 30px;
    /*background:url(../images/bt.jpg) no-repeat 0px 0px;*/
}

#content-nav {
    width: 646px;
    height: 410px;
    float: left;
    /* border: 1px solid #000000; */
}

#products_bestsell {
    width: 1000px;
    margin: 10px auto;
    min-height: 350px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 15px;
}

.block {
    margin-bottom: 20px;
    position: relative;
    background: none;
}

.page-subheading {
    padding: 7px 10px;
    margin: 10px 0 0 20px;
    font-size: 18px;
    background: #6bc15f;
    text-align: center;
    letter-spacing: 2px;
}

.products_block.page-subheading {
    margin-bottom: 1px;
}

.page-subheading {
    position: relative;
    font-family: Roboto;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
    color: #fff;
    line-height: normal;
}

.promotion {
    margin-left: 20px;
    display: block;
}

.container {
    position: relative;
    width: 1000px;
    height: 120px;
    /*margin: 10px auto;*/
    border: 1px dashed #ccc;
    /* border: 1px solid #000000; */
}

.container-footer {
    position: relative;
    width: 100%;
    /*height: 120px;*/
    /*margin: 10px auto;*/
    /*border: 1px dashed #ccc;*/
    /* border: 1px solid #000000; */
}

.box {
    background: #fff;
    padding: 10px 0;
}

.row {
    margin-left: -9px;
    margin-right: -9px;
}

.colum {
    float: left;
    width: 25%;
}

.footer-sologan {
    color: #BB0000;
    width: 60%;
    margin-left: 20%;
    font-size: 18px;
    text-align: center;
}

.reassurances-left {
    position: relative;
    padding: 25px 15px;
    text-align: center;
}

.icon-box {
    float: left;
    margin-right: 5px;
}

.media-body {
    vertical-align: top;
    text-align: left;
}

.h4 {
    text-transform: capitalize;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto;
}

.reassurances-left:hover h4 {
    color: #6bc15f;
}

.p {
    font-family: Roboto;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
}

.arrow {
    cursor: pointer;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.media-body > a {
    color: #828282;
    text-decoration: none;
}

#main_block {
    width: 1000px;
    height: 700px;
    margin: 10px auto;
    /* border: 1px solid #000000; */
}

#main_block .product-list{
    margin-top: 40px;
}

.center {
    float: left;
    height: auto;
    margin-bottom: 15px;
    width: 700px;
    /*  border: 1px solid #000000; */
}

.box-center {
    background: url("../images/menu.png") repeat-x;
    border-bottom: 2px solid #FF9900;
    border-radius: 3px;
    float: left;
    height: 28px;
    line-height: 30px;
    width: 700px;
}

.box-center h2 {
    background: url("../images/icon.png") no-repeat;
    color: #6bc15f;
    background-position-y: 2px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    padding-left: 18px;
    margin-top: 6px;
}

.box-content-center {
    float: left;
    height: auto;
    margin-top: 2px;
    width: 678px;
    padding: 10px;
    border: 1px dashed #ccc;
}

.product .product_item:hover {
    border: 1px solid #FF9900;
}

.product .product_item {
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    height: 280px;
    padding: 8px 0px;
    width: 200px;
    float: left;
    text-align: center;
    margin: 10px 5px;
}

.product .product_item h3 {
    padding: 3px 0;
}

.product h3 a {
    font-size: 13px;
}

.product .product_img {
    height: 150px;
}

.product .product_img img {
    width: 150px;
}

.product .product_item .viewed {
    margin-top: 5px;
}

img {
    border: none;
}

.product p.price {
    margin-top: 10px;
    color: #800000;
    font-weight: bold;
}

.product span.price_old {
    text-decoration: line-through;
    color: #555;
    font-weight: normal;
    margin-left: 5px;
}

.raty img {
    width: 16px !important;
    height: 16px;
}

.product div.action {
    margin-top: 10px;
    padding-top: 12px;
    border-top: 1px dashed #dbdbdb;
}

.product a.button {
    background: none repeat scroll 0 0 #3B5998;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px;
    float: right;
    margin-right: 10px;
}

div.right {
    float: right;
    width: 250px;
    margin-bottom: 15px;
    height: 650px;
    /*  border: 1px solid #000000; */
}

.box-right {
    /*float: right;*/
}

.title-box-right {
    background: url("../images/menu.png") repeat-x;
    border-bottom: 2px solid #FF9900;
    border-radius: 3px;
    /*float: left;*/
    height: 28px;
    line-height: 30px;
    width: 250px;
}

.title-box-right h2 {
    background: url("../images/icon.png") no-repeat;
    background-position-y: 7px;
    color: #6bc15f;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    padding-left: 18px;
    margin-top: 0;
    padding-top: 5px;
}

.content-box {
    color: #000000;
    /*float: left;*/
    height: auto;
    margin-top: 2px;
    /*margin-left: 25px;*/
    width: 248px;
    border: 1px dashed #ccc;
}

.box-right .support {
    padding: 20px 0 0 20px;
}

.box-right .support strong {
    color: maroon;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.box-right img {
    min-width: 22px;
    max-width: 190px;
}

.content-box p {
    line-height: 18px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.footer-center {
    /*color: #9c9c9c;*/
}

.footer {
    /*width: 980px;*/
    width: 100%;
    margin-bottom: 10px;
    background: #F5DEB3;
    padding: 50px 0;
    /*border-top: 1px solid #3D3D3D;*/
    /*border-bottom: 1px solid #3D3D3D;*/
}

.block_content {
    font-family: Roboto;
}

.about {
    color: #A0522D;
    padding: 10px 0px;
    line-height: 25px;
}

.colum1 {
    width: 33%;
    padding-left: 50px;
    float: left;
}

.title_block {
    position: relative;
    /*background: #f8694d;*/
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0px;
    color: #fff;
    display: block;
    text-align: left;
}

.title_block > span {
    color: #A0522D;
    font-size: 13px;
    padding: 0 0 10px;
    line-height: 24px;
    font-weight: 500;
}

.list-group {
    margin-bottom: 20px;
    padding-left: 0;
}

.toggle li {
    line-height: 30px;
    position: relative;
}

.toggle li a {
    display: block;
    font-size: 12px;
    position: relative;
    text-transform: uppercase;
}

.icon .fa {
    background: none repeat scroll 0 0 #8C8C8C;
    border-radius: 2px;
    color: #FFF;
    height: 26px;
    line-height: 26px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-left: 3px;
    width: 26px;
    cursor: pointer;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}

#search-box form input[type="text"] {
    height: 28px;
    padding: 3px;
}

#cart img {
    position: absolute;
    right: 100px;
}

#info-cart .count {
    width: 100px;
}

.clearboth {
    clear: both;
}

#search-box .text {
    float: left
}

#search-box .image {
    float: right
}

#search-box .image img {
    margin-top: 4px;
}

.online-number{
    padding: 10px;
    border: 1px dashed #ccc;
}