.mar-top-5 {
    margin-top: 5px;
}

.mar-top-10 {
    margin-top: 10px;
}

.mar-top-15 {
    margin-top: 15px;
}

.mar-left-20 {
    margin-left: 20px;
}

.pad-right-10 {
    padding-right: 10px;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.product-item {
    min-height: 314px;
    padding: 10px;
    text-align: center;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-item:hover {
    border: 1px solid #FF9900;
}

.product-item .title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #337ab7;
}

.product-item .image {
    width: 100%;
    height: 150px;
    margin-bottom: 8px;
}

.product-item .image img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 150px;
}

.product-item .rating img {
    display: inline-block !important;
}

.product-item .price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

.product-item .price .new-price {
    color: #800000;
    padding: 0 5px 0 10px;
}

.product-item .price .old-price {
    color: gray;
    padding: 0 5px;
    text-decoration: line-through;
}

.product-item .rating {
    margin-bottom: 10px;
    border-bottom: 1px dashed #dbdbdb;
    padding-bottom: 10px;
    min-height: 31px;
}

.product-item .view-buy .view {
    margin-top: 5px;
}

.cannot-buy {
    background-color: #f0ad4e !important;
}

#cartpage {
    padding: 20px;
}

#cartbag {
    margin-top: 70px;
    margin-right: 50px;
}

#admin-login {
    margin-top: 150px;
}

#admin-login .panel-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

#page-wrapper {
    margin-top: 52px;
    padding-top: 20px;
}

#page-wrapper .page-header {
    margin-top: 0
}

.wrapper {
    padding: 20px;
}